# https://vercel.com/integrations/planetscale
DATABASE_URL=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET='a83d9c29d57564cb7717fc8fa72d22fc' # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32


GITHUB_ID=
GITHUB_SECRET=

# GOOGLE
GOOGLE_ID='444588011601-7grhlu5igpr5fhsliem80boiuknkth9r.apps.googleusercontent.com'
GOOGLE_SECRET='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'


AUTH0_SECRET='a83d9c29d57564cb7717fc8fa72d22fc'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://dev-50zv7lelt37ezsxe.us.auth0.com'
AUTH0_CLIENT_ID='HEx2SQuQDPkyBqA34xcCpmLpH4Yzt7wP'
AUTH0_CLIENT_SECRET='BGZuQbdXkh-FjOXTLBDYeBv3d33lap-5JIMXp6hdbWEGn6tVxox5tSh5MfcxctPD'


EMAIL_SERVER=smtp-relay.brevo.com
